
{% if user is not defined or user is null %}
  <nav id="reg-menu">
    <div class="container">
      <ul class="nav nav-pills">
        <li {% if app.urlFor('user_register') == path %} class="active2" {% endif %}>
          <a href="{{ app.urlFor('user_register') }}">Register</a>
        </li>
        <li {% if app.urlFor('password_reset_request') == path %} class="active2" {% endif %}>
          <a href="{{ app.urlFor('password_reset_request') }}">Forgot password</a>
        </li>
        <li {% if app.urlFor('logon') == path %} class="active2" {% endif %}>
          <a href="{{ app.urlFor('logon') }}">Logon</a>
        </li>
      </ul>
    </div>
  </nav>
{% else %}
  {% set logged_in = user %}
  <nav id="reg-menu">
    <div class="container">
      <ul class="nav nav-pills floatright">
        <li>
          <a href="{{ app.urlFor('user_logoff') }}">Logoff</a>
        </li>
      </ul>
      <ul class="nav nav-tabs">
        {% if logged_in.isAdmin %}
          <li {% if app.urlFor('admin_main_page') == path %} class="active2" {% endif %}>
            <a href="{{ app.urlFor('admin_main_page') }}">Admin</a>
          </li>
        {% endif %}
        <li {% if app.urlFor('order_start') == path %} class="active2" {% endif %}>
          <a href="{{ app.urlFor('order_start') }}">Order</a>
        </li>
      </ul>
    </div>
  </nav>
{% endif %}