{% extends 'base.html.twig' %}

{% block nav_menu %}
  {{ parent() }}
  {% include 'Admin/admin.menu.l2.html.twig' %}
{% endblock nav_menu %}

{% block content %}
  <h1 class="header">Bread management</h1>
  <div id="bread-panel">
    <div id="breads">
      {% for bread in breads %}
        <div class="bread {{ cycle(['even','odd'],loop.index) }}">      
          <a href="{{ app.urlFor('admin_bread_edit', {'id': bread.id }) }}"><span class="glyphicon glyphicon-edit" title="Edit {{ bread.name }}" ></span></a>
          <a class="floatright pad-right-6" href="{{ app.urlFor('admin_bread_remove', {'id': bread.id }) }}" title="Remove {{ bread.name }}"><span class="glyphicon glyphicon-remove" ></span></a>
          <span class="floatright bread pad-right-6" data-breadid="{{ bread.id }}"> &euro; {{ (bread.price / 100)|number_format(2) }}</span>
          <span>{{ bread.name }}</span>
        </div>  
      {% endfor %}
    </div>

    <div class="controls">
      <form action="{{ app.urlFor('admin_bread_add') }}" method="post">
        <div class="form-group">
          <input type="text" id="name" name="name" />
          <input type="text" id="price" name="price" />
        </div>
        <input class="form-control btn btn-action" type="submit" id="submit" name="submit" value="Add bread" />
      </form>
    </div>
  </div>
{% endblock content %}