{% extends 'base.html.twig' %}

{% block nav_menu %}
  {{ parent() }}
  {% set app = globals.app %}
  {% include 'Admin/admin.menu.l2.html.twig' %}
{% endblock nav_menu %}

{% block content %}
  <h1 class="header">Bread management</h1>
  <div id="bread-panel">
    <div id="breads">
      {% for bread in breads %}
        <div class="bread {{ cycle(['even','odd'],loop.index) }}">      
          <span class="btn btn-danger btn-small" ><a href="#"> X </a></span>
          <span class="floatright bread" data-breadid="{{ bread.id }}"> &euro; {{ (bread.price / 100)|number_format(2) }}</span>
          <span>{{ bread.name }}</span>
        </div>  
      {% endfor %}
    </div>

    {% set app = globals.app %}
    <div class="controls">
      <form action="{{ app.urlFor('admin_bread_add') }}" method="post">
        <div class="form-group">
          <input type="text" id="name" name="name" />
          <input type="text" id="price" name="price" />
        </div>
        <input class="form-control btn-action" type="submit" id="submit" name="submit" value="Add bread" />
      </form>
    </div>
  </div>
{% endblock content %}