{% extends 'base.html.twig' %}

{% block title %}
  TeLaet admin page
{% endblock title %}

{% block nav_menu %}
  {{ parent() }}  
  {% include 'Admin/admin.menu.l2.html.twig' %}
{% endblock nav_menu %}

{% block content %}
  <h1 class="header">Admin panel</h1>
  
  <h2 class="subtitle">Manage Breads</h2>
  <a class="btn btn-info btn-action" href="{{ app.urlFor('admin_manage_breads') }}">Manage breads</a>
  <a class="btn btn-info btn-action" href="{{ app.urlFor('admin_manage_toppings') }}">Manage toppings</a>
  
  <h2 class="subtitle">Manage Images</h2>
  <a class="btn btn-info btn-action" href="{{ app.urlFor('admin_images_manage') }}">Manage Images</a>
  
  <h2 class="subtitle">Manage Users</h2>  
  <a class="btn btn-info btn-action" href="#">My Profile</a>
  <a class="btn btn-info btn-action" href="{{ app.urlFor('admin_user_list') }}">User list</a>
  
{% endblock content %}

{% block extrajs %}
  <script type="text/javascript" src="js/admin.js"></script>
{% endblock extrajs %}
