{% extends 'base.html.twig' %}

{% block nav_menu %}
  {{ parent() }}
  {% set app = globals.app %}
  {% include 'Admin/admin.menu.l2.html.twig' %}
{% endblock nav_menu %}

{% block content %}
  {% set app = globals.app %}
  <h1 class="header">Topping management</h1>
  <div id="topping-panel">
    <div id="toppings">
      {% for topping in toppings %}
        <div class="topping {{ cycle(['even','odd'],loop.index) }}">  
          {# {{ app.urlFor('admin_topping_edit', {'id': topping.id }) }} #}
          <a href="#"><span class="glyphicon glyphicon-edit" ></span></a>
          <a class="floatright pad-right-6" href="{{ app.urlFor('admin_topping_remove', {'id': topping.id }) }}"><span class="glyphicon glyphicon-remove" ></span></a>          
          <span class="floatright topping pad-right-6" data-toppingid="{{ topping.id }}"> &euro; {{ (topping.price / 100)|number_format(2) }}</span>
          <span>{{ topping.name }}</span>
        </div>  
      {% endfor %}
    </div>

    {% set app = globals.app %}
    <div class="controls">
      <form action="{{ app.urlFor('admin_topping_add') }}" method="post">
        <div class="form-group">
          <input type="text" id="name" name="name" />
          <input type="text" id="price" name="price" />
        </div>
        <input class="form-control btn-action" type="submit" id="submit" name="submit" value="Add topping" />
      </form>
    </div>
  </div>
{% endblock content %}